{% extends "base.html" %}

{% load bootstrap3 %}

{% block site_title %} List of Mentors {% endblock %}
{% block body_title %} List of <b>Mentors</b> {% endblock %}

{% block content %}
	{% if form.errors or success == False %}
		<div class="alert alert-danger">
			{% if form.errors %}
				<p>{{form.csv.errors|escape}}</p>
			{% endif %}
			{% if success == False %}
				<p>The provided spreadsheet was malformed.</p> 
			{% endif %}
		</div>
		<hr />
	{% endif %}

	{% if success = True %}
		<div class="alert alert-success">
			<p>Spreadsheet added successfully.</p>
		</div>
		<hr />
	{% endif %}

	<a href="{% url 'mentors:add' %}" class="btn btn-default">{% bootstrap_icon "plus" %} Add Mentor</a>
	<button class="btn btn-default" onclick="loadMentorList();">{% bootstrap_icon "cloud-upload" %} Import Spreadsheet</button>

	<div class="hidden">
		<form id="csv-form" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<input id="id_csv" name="csv" accept="text/csv" onchange="submitMentorList();" type="file" />
			<input type="submit" class="btn btn-default" />
		</form>
	</div>
	<hr />
	{% if mentors %}
		<table class="table">
			<thead>
				<th>Name</th>
				<th>Email</th>
				<th>Number</th>
				<th>Needs Shirt</th>
				<th>Size</th>
				<th>WWCC</th>
				<th>Lead</th>
				<th>Support</th>
				<th></th>
			</thead>
			<tbody>
				{% for mentor in mentors %}
					<tr>
						<td>{{ mentor.name }}</td>
						<td>{{ mentor.user.email }}</td>
						<td>{{ mentor.contact_number }}</td>
						<td>{{ mentor.needs_shirt }}</td>
						<td>{{ mentor.get_shirt_size_display }}</td>
						<td>{{ mentor.wwcc_status }}</td>
						<td>{{ mentor.wants_lead }}</td>
						<td>{{ mentor.wants_support }}</td>
						<td>
							<a href="{% url 'mentors:detail' mentor.id %}">{% bootstrap_icon "user" %}</a>
							{% bootstrap_icon "pencil" %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}

{% block custom_js %}
<script>
	function loadMentorList()
	{
		console.log("Loading mentor list...");
    	$("#id_csv").click();
	}

	function submitMentorList()
	{
    	$("#csv-form").submit();
	}
</script>
{% endblock %}