{% extends "generic_list.html" %}

{% load bootstrap3 %}
{% load nicebool %}
{% load staticfiles %}

{% block add_url %}{% url 'mentors:add' %}{% endblock %}
{% block custom_buttons_after %}
	<button class="btn btn-default" onclick="loadFile('#id_csv');">{% bootstrap_icon "cloud-upload" %} Import Spreadsheet</button>
	<a href="{% url 'mentors:role-index' %}" class="btn btn-default">{% bootstrap_icon "tasks" %} Manage Roles</a>

	<div class="hidden">
		<form id="csv-form" action="{% url 'mentors:upload' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<input id="id_csv" name="csv" accept="text/csv" onchange="submitFile('#csv-form');" type="file" />
			<input type="submit" class="btn btn-default" />
		</form>
	</div>
{% endblock %}

{% block list %}
<thead>
	<th>Name</th>
	<th>Email</th>
	<th>Number</th>
	<th>Needs Shirt</th>
	<th>Size</th>
	<th>WWCC</th>
	{% for role in roles %}
		<th>{{role.short_name}}</th>
	{% endfor %}
</thead>
<tbody>
	{% for mentor in object_list %}
		<tr>
			<td><a href="{% url 'mentors:detail' mentor.id %}">{{ mentor.name }}</a></td>
			<td><a href="{{ mentor.get_email_url }}">{{ mentor.user.email }}</a></td>
			<td><a href="{{ mentor.get_call_url }}">{{ mentor.user.phone_number }}</td>
			<td class="text-center">{{ mentor.needs_shirt|nicebool }}</td>
			<td>{{ mentor.get_shirt_size_display|default:"—" }}</td>
			<td>{{ mentor.get_wwcc_status }}</td>
			{% for role in roles %}
				<td class="text-center">
					{% if role in mentor.roles_desired.all %}
						{% bootstrap_icon "ok" %}
					{% else %}
						{% bootstrap_icon "remove" %}
					{% endif %}
				</td>
			{% endfor %}
		</tr>
	{% endfor %}
</tbody>
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/Upload.js' %}">

</script>
{% endblock %}