{% extends "base.html" %}
{% load bootstrap3 %}

{% block site_title %}Administration Portal{% endblock %}
{% block body_title %}Administration Portal{% endblock %}

{% block content %}
<h2>Reset Password</h2>
<p>Reset a user's password and email it to them.</p>
<form action="{% url 'accounts:admin-reset-password' %}" method="post" class="form-inline">
	{% csrf_token %}
	{% bootstrap_form reset_password_form layout='inline' %}
	{% buttons %}
		{% bootstrap_button 'Reset Password' button_type='submit' %}
	{% endbuttons %}
</form>

<h2>Change Password</h2>
<p>You can change any user's password using this form.</p>

<form action="{% url 'accounts:admin-password' %}" method="post" class="form-inline">
	{% csrf_token %}
	{% bootstrap_form password_form layout='inline' %}
	{% buttons %}
		{% bootstrap_button 'Change Password' button_type='submit' %}
	{% endbuttons %}
</form>

<h2>Add User to Management</h2>
<p>A management account is required when a user wishes to access mangement functions. For example, Champions or Outreach staff.</p>

<form action="{% url 'accounts:management-add' %}" method="post" class="form-inline">
	{% csrf_token %}
	{% bootstrap_form add_management_form layout='inline' %}
	{% buttons %}
		{% bootstrap_button 'Add to Management' button_type='submit' %}
	{% endbuttons %}
</form>

<h2>Remove User from Management</h2>
<p>Use this form to remove a user from management. They will no longer be able to access managemtn
functionality.</p>
<p><b>Warning:</b> if the user is a Champion, they will still be able to access resources which are
granted to Champions.</p>

<form action="{% url 'accounts:management-remove' %}" method="post" class="form-inline">
	{% csrf_token %}
	{% bootstrap_form remove_management_form layout='inline' %}
	{% buttons %}
		{% bootstrap_button 'Remove from Management' button_type='submit' %}
	{% endbuttons %}
</form>

<h2>Sync Permissions</h2>
<p>Syncing permissions to harcoded policies. This should only be required when you first install Kanri. This will ensure that only the right people can access certain restricted resources.</p>

<a href="{% url 'accounts:permissions-sync' %}" class="btn btn-primary">Sync Permissions</a>

{% endblock %}