{% extends 'base.html' %}

{% block site_title %}Roster for {{ term }}{% endblock %}
{% block body_title %}Roster for <b>{{ term }}</b>{% endblock %}

{% block content %}
	<ul class="nav nav-tabs" role="tablist">
		{% for session in sessions %}
		<li><a href="#session_{{ session.id }}" role="tab" data-toggle="tab">{{ session.get_short_name }}</a></li>
		{% endfor %}
	</ul>

	<div class="tab-content">
		{% for session in sessions %}
			<div class="tab-pane" id="session_{{ session.id }}">
				<h2>
					<div class="dropdown">
						{{ session }}
						{% if perms.planner.add_shift %}
							<a data-toggle="dropdown" href="#">+</a>
							<ul class="dropdown-menu" role="menu">
							 	<li role="presentation" class="dropdown-header">Add Shift Allocation</li>
								{% for role in roles %}
    								<li role="presentation"><a role="menuitem" href="{% url 'planner:allocate' session.id role.id %}">{{ role }}</a></li>
								{% endfor %}

							 	<li role="presentation" class="dropdown-header">Add Job Allocation</li>
								{% for job in jobs %}
    								<li role="presentation"><a role="menuitem" href="{% url 'jobs:allocate' session.id job.id %}">{{ job }}</a></li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				</h2>
				<h3>Jobs</h3>
				{% if session.get_jobs_by_time %}
					<ul>
						{% for time in session.get_jobs_by_time %}
							<h4>{{ time.time }}</h4>
							{% for allocation in time.job_allocations %}
								<li>
									{{ allocation }}
									<a href="{% url 'jobs:allocate-delete' allocation.id %}"><span class="glyphicon glyphicon-remove-sign"></span></a>
								</li>
							{% endfor %}
						{% endfor %}
					</ul>
				{% endif %}

				<h3>Shifts</h3>
				{% for room in session.get_shifts_per_room %}
					<h4>
						{% if room.room %}
							{{ room.room }}
						{% else %}
							Global
						{% endif %}
					</h4>
					{% if room.shifts %}
						<ul>
							{% for shift in room.shifts %}
								<li>
									<a href="{{ shift.get_absolute_url }}">{{ shift.roster_name }}</a>
									{% if shift.mentor.user == user %}
										<span style="color: #f00">*</span>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					{% else %}
						<p>No shifts in this room.</p>
					{% endif %}
				{% endfor %}
			</div>
		{% endfor %}
	</div>

{% endblock %}