{% extends 'base.html' %}

{% block site_title %}Roster for {{ term }}{% endblock %}
{% block body_title %}Roster for <b>{{ term }}</b>{% endblock %}

{% block content %}
	<table class="table table-condensed">
		<thead>
			<th>Rooms</th>
		{% for session in sessions %}
			<th class="text-center"><a href="{{ session.get_absolute_url }}">{{ session.get_short_name }}</a></th>
		{% endfor %}
		</thead>
		<tbody>
			{% for room in roster %}
				<tr>
					{% if room.room == None %}
						<td>Global</td>
					{% else %}
						<td><a href="{{ room.room.get_absolute_url }}">{{ room.room }}</a></td>
					{% endif %}
					{% for session in room.usage %}
						<td class="text-center">
							{% for shift in session %}
								<a href="{{ shift.get_absolute_url }}">{{ shift.roster_name }}</a>
								{% if shift.mentor.user == user %}<span style="color: #FF0000">*</span>{% endif %}
								<br />
							{% endfor %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}