{% extends 'generic_panel.html' %}

{% block panel_title %}Scratch Knowledge{% endblock %}

{% block panel_content %}
	<div class="col-md-3 text-center">
		<h2 class="notop">{{ ninja_stats.knowledge.scratch.Nothing }}</h2>
		know nothing
	</div>

	<div class="col-md-3 text-center">
		<h2 class="notop">{{ ninja_stats.knowledge.scratch.Beginner }}</h2>
		are beginners
	</div>

	<div class="col-md-3 text-center">
		<h2 class="notop">{{ ninja_stats.knowledge.scratch.Intermediary }}</h2>
		have intermediary knowledge
	</div>

	<div class="col-md-3 text-center">
		<h2 class="notop">{{ ninja_stats.knowledge.scratch.Advanced }}</h2>
		have advanced knowledge
	</div>


{% endblock %}