{% extends "base.html" %}
{% load bootstrap3 %}
{% load name %}

{% block site_title %}
	{% if object %}
		Edit
	{% else %}
		Add
	{% endif %}
	{{ object|name }}
{% endblock %}
{% block body_title %}<b>
	{% if object %}
		Edit
	{% else %}
		Add
	{% endif %}
	</b> {{ object|name }}
{% endblock %}

{% block content %}
<div class="row">
	<form action="" method="post" class="form form-horizontal">
		{% csrf_token %}
		{% bootstrap_form form layout="horizontal" %}
		{% buttons %}
			<div class="col-md-offset-2">
				{% if role %}
					{% with "Add "|add:object|name as add_text %}
						{% bootstrap_button add_text button_type="submit" %}
					{% endwith %}
				{% else %}
					{% with "Update "|add:object|name as edit_text %}
						{% bootstrap_button edit_text button_type="submit" %}
						{% endwith %}
				{% endif %}
				{% bootstrap_button "Clear" button_type="reset" %}
				{% if True %}
					{% bootstrap_button "Delete" button_type="button" button_class="btn-danger" %}
				{% endif %}
			</div>		
		{% endbuttons %}
	</form>
</div>
{% endblock %}
