{% extends "base.html" %}
{% load bootstrap3 %}
{% load name %}

{% block site_title %} List of {{ view|model_name:True }} {% endblock %}
{% block body_title %} List of <b>{{ view|model_name:True }}</b> {% endblock %}

{% block content %}
	{% block nocontrols %}

		{% block custom_buttons_before %} {% endblock %}

		{% block noadd %}
			<a href="{% block add_url %}{% url 'dashboard' %}{% endblock %}"class="btn btn-default">
				{% bootstrap_icon "plus" %} Add {{ view|model_name }}
			</a>
		{% endblock %}

		{% block custom_buttons_after %} {% endblock %}

		<hr />
	{% endblock %}

	{% if object_list %}
		<table class="table">
			{% block list %} {% endblock %}
		</table>
	{% else %}
		<h2>There's nothing here...</h2>
	{% endif %}
{% endblock %}
