{% extends "generic_detail.html" %}
{% load display_pair %}
{% load bootstrap3 %}

{% block list_url %}{% url 'jobs:index' %}{% endblock %}
{% block edit_url %}{% url 'jobs:update' object.id %}{% endblock %}
{% block delete_url %}{% url 'jobs:delete' object.id %}{% endblock %}

{% block detail %}
	{{ object.name|display_pair:'Name' }}
	{{ object.description|display_pair:"Description" }}
	{{ object.location|display_pair:"Location" }}
	{{ object.get_time_display|display_pair:"Time" }}
{% endblock %}