{% extends "generic_list.html" %}

{% load staticfiles %}

{% load bootstrap3 %}

{% block add_url %}
	{% url 'jobs:add' %}
{% endblock %}

{% block list %}
	<thead>
		<th class="col-md-2">Name</th>
		<th class="col-md-5">Description</th>
		<th class="col-md-2">Location</th>
		<th>Time</th>
		{% if perms.jobs.register_for_job %}
			<th>Register</th>
		{% endif %}
	</thead>
	<tbody>
		{% for job in object_list %}
			<tr>
				<td><a href="{{ job.get_absolute_url }}">{{ job.name }}</a></td>
				<td>{{ job.description }}</td>
				<td>{{ job.location }}</td>
				<td>{{ job.get_time_display }}</td>
				{% if perms.jobs.register_for_job %}
					{% if job in mentor.jobs_desired.all %}
						<form action="{% url 'jobs:unregister' job.id %}" method="post">
							{% csrf_token %}
							<td><button type="submit" class="btn btn-link">Unregister</button></td>
						</form>
					{% else %}
						<form action="{% url 'jobs:register' job.id %}" method="post">
							{% csrf_token %}
							<td><button type="submit" class="btn btn-link">Register</button></td>
						</form>
					{% endif %}
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
{% endblock %}
